// Palette:
// http://paletton.com/#uid=33d0O0kl1Wx1x+IcEXDsUWkWEVB

// Color names:
// http://chir.ag/projects/name-that-color/

//grays
$mine-shaft: #303030;
$emperor: #555555;
$boulder: #757575;
$alto: #DDDDDD;
$white: #FFFFFF;

//cyans
$foam: #F2FEFC;
$ice-cold: #94F5E5;
$turquoise-blue: #53F2D7;
$bright-turquoise: #17F1CD;

//magentas
$lavender-blush: #FFF3F8;
$lavender-pink: #FA97C8;
$brilliant-rose: #F955A6;
$rose: #F91886;

//yellows
$quarter-pearl-lusta: #FFFCF3;
$cream-brulee: #FFE69A;
$mustard: #FFD658;
$amber: #FFC000;
