.podcast {
  margin: 8px;
  padding: 8px;
  border: 1px #000 solid;
}

.podcast-title {
  margin: 0px;
  margin-right: 8px;
  color: #00f;
  display: inline-block;
}

.podcast-detail {
  margin: 0px;
  display: inline-block;
}
