@import '_colors';

.row-one {
  margin-top: 2rem;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.new-podcast {
  background-color: $turquoise-blue;
  color: $mine-shaft;
  margin: 8px;
  margin-top: 0px;
  margin-bottom: 2rem;
  border: 2px white solid;
  border-radius: 6px;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}

.small-x {
  width: 80%
}

.new-podcast:hover {
  background-color: $mustard;
  color: $mine-shaft;
}

.content-tile {
  height: 128px;
  border-radius: 6px;
  border: 2px $mustard solid;
  background-color: $quarter-pearl-lusta;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.content-tile h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.content-tile h2 {
  font-size: 1.1rem;
}

.content-tile a {
  padding: 1px 4px;
  margin-left: -4px;
  border-radius: 6px;
  color: $rose;
}

.content-tile a:hover {
  background-color: $cream-brulee;
}

.show-header {
  border-radius: 12px;
  background-color: $quarter-pearl-lusta;
}

.show-header h1 {
  font-weight: bold;
  color: $turquoise-blue;
}

.reviews-header {
  font-size: 3rem;
  color: $mustard;
  font-weight: bold;
}

.new-review {
  background-color: $turquoise-blue;
  color: $mine-shaft;
  margin-bottom: 1rem;
  border: 2px white solid;
  border-radius: 6px;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}

.new-review:hover {
  background-color: $mustard;
  color: $mine-shaft;
}

.bar {
  height: 1px;
  background-color: $rose;
  margin-bottom: 1rem;
  margin-top: 1.4rem;
}

.review {
  border-radius: 12px;
  background-color: $quarter-pearl-lusta;
}

.avg-rating {
  color: $turquoise-blue;
  font-size: 2rem;
  font-weight: bold;
}
