@import '_colors';

.title {
  font-weight: bold;
  text-transform: capitalize;
}

.reviews-header {
  font-size: 3rem;
  color: $mustard;
  font-weight: bold;
}

.review {
  border-radius: 12px;
  background-color: $quarter-pearl-lusta;
}

.review-body {
  background-color: white;
  border: 1px $alto solid;
  border-radius: 4px;
  padding: 10px;
}

.ratings {
  background-color: $alto;
}

.avg-rating {
  color: $turquoise-blue;
  font-size: 2rem;
  font-weight: bold;
}
