<h1>PodCats</h1>


<div class="podcast-list">
  <% @podcasts.each do |podcast| %>
    <div class="podcast">
      <h5 class="podcast-title"><%= podcast.title %></h5>
      <% podcast.creators.each do |creator| %>
        <p class="podcast-detail"><%= creator.name %></p>
      <% end %>
    </div>
  <% end %>
</div>
